body {
  font-family: var(--ff-primary);
  font-weight: var(--fw-normal);
  color: var(--clr-neutral);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  text-transform: uppercase;
  line-height: 1;
  font-family: var(--ff-secondary);
  font-weight: var(--fw-light);
  color: var(--clr-secondary);
}

h1,
.h1 {
  font-size: var(--fs-800);
}

h2,
.h2 {
  font-size: var(--fs-700);
}

h3,
.h3 {
  font-size: var(--fs-600);
}

.title {
  padding: 0.525em;
  margin-top: 0.5em;
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
}
